extends layout

block content
  .p2.col-12

    h1.navy.center Fixture List for #{tournament.name}
    if user && user.admin
      each fixture in tournament.fixtures.sort(function(fixtureA, fixtureB){return fixtureA.kickoff - fixtureB.kickoff})
        .col.col-12.my1
          .col.col-2.right-align.bold #{fixture.home.country.name}&nbsp-&nbsp
          .col.col-2.bold #{fixture.away.country.name}
          .col.col-4
            = new Date(fixture.kickoff).toLocaleDateString('en-US', {month: '2-digit', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', timeZoneName: 'short'})
          .col.col-1
            if (fixture.result)
              = `${fixture.result.homeGoals} - ${fixture.result.awayGoals}`
              if (!fixture.result.groupStage && fixture.result.homePenalties)
                = `(${fixture.result.homePenalties} - ${fixture.result.awayPenalties})`
          .col.col-1
            a(href='fixtures/#{fixture.id}').btn.btn-primary.btn-small Edit
    else
      p.center.red.bold You have to login as an Admin to see this page.
