extends layout

block content
  .p2.col-12.sm-col-12.md-col-8.lg-col-6.mx-auto
    .col-12.clearfix
      h1.navy #{user.email}'s Entries


    .my4
      if entries && entries.length > 0
        each entry in entries
          .col-12.clearfix
            .col.col-10
              a(href='/entries/#{entry.id}') #{entry.name} (#{entry.tournament.name})
            if entry.tournament.hasStarted
              .col.col-2.col-right.pl1.green.bold Started!
            else
              .col.col-1.col-right.pl1
                form(action='/entries/#{entry.id}', method='post')
                  input(type='hidden' name='_method' value='delete')
                  input.btn.btn-outline.btn-small.red(type='submit' value='delete')
              .col.col-1.col-right
                a.btn.btn-outline.btn-small.green(href='/entries/#{entry.id}') Edit
          hr
      else
        span You have no entries yet,&nbsp
          a(href='/entries/new') create 1 now

    a.btn.btn-outline.blue(href='/entries/new') Add New Entry
