extends layout

block content
  .p2.col-12.sm-col-12.md-col-8.lg-col-6.mx-auto

    h1.navy Update Entry
    p.caps.h6.orange.bold Order determines multiplier so order is important!

    .picks.mb2.flex.flex-wrap.content-center
      -var size = '5em'
      //- TODO: This should probably by stored somewhere more 'global'
      -var maxPicks = 8

      - for (var i = 0; i < maxPicks; i++)
        .pick.col-6.sm-col-4.md-col-3.p1.pb3.center.flex.flex-column.justify-center
          - var pick = picks.find(function(p) {return p.position === i + 1})
          if pick
            span.bold= i + 1 + ' ' + pick.country_name
            a(href='/entries/#{entry.user_entry_id}/picks/#{pick.pick_id}', style={
              width:'#{size}',
              height:'#{size}',
              'line-height': '#{size}',
              'text-align': 'center',
              'background-image': 'url(#{pick.flag_url})', //TODO: Cater for Wales, England ...
              'background-size': 'cover',
              'background-repeat': 'no-repeat',
              'background-position': 'center',
              'border-radius': '50%'}).border.border-gray.mx-auto
            form(action='/entries/#{entry.user_entry_id}/picks/#{pick.pick_id}', method='post')
              input(type='hidden' name='_method' value='delete')
              input.btn.btn-small.btn-narrow.btn-outline.red(type='submit' value='delete', title='delete')
          else
            a(href='/entries/#{entry.user_entry_id}/picks/new?position=#{i+1}', style={
              width:'#{size}',
              height:'#{size}',
              'line-height': '#{size}',
              'text-align': 'center',
              'border-radius': '50%'}).border.border-blue.mx-auto Pick ##{i+1}

    form(action='/entries/#{entry.user_entry_id}', method='POST')
      div
        label.label Your Entry's Name
        input.input(type='text', name='name', value='#{entry.user_entry_name}')
        label.label Tournament
        input.input.muted(type='text', name='name', value='#{entry.tournament_name}', disabled=true)
        input(type='hidden' name='_method' value='PUT')

      div
        button.btn.btn-outline.blue(type='submit') Save
        a.btn.btn-outline.red(href='/entries').right Cancel
